@model Bookmarks.Web.Areas.User.Models.EditorModels.BookmarkEditorModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(b => b.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(b => b.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Url, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(b => b.Url, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(b => b.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Categories, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(b => b.Categories, Model.Categories)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Bookmark" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


